<p>dashboard works!</p>
<!-- -->
<div class="container-scroller">
    <!-- partial:partials/_navbar.html -->
    <app-header></app-header>
    <div class="container-fluid page-body-wrapper">
      <!-- partial:partials/_settings-panel.html -->
     <app-sidebar></app-sidebar>
      <!-- partial -->
      <div class="main-panel">
        <app-content></app-content>
          <!-- content-wrapper ends -->
        <!-- partial:partials/_footer.html -->
      <app-footer></app-footer>
        <!-- partial -->
      </div>
      <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
  </div>
  
  